//Text elements style global

h1, h2, h3, h4 {
    font-weight: 400;
    padding-bottom: 15px;
    margin: 0;
    text-align: center;
    word-break: break-word;
    color: $black;
}

h1 {
    @include text($text-size--small-medium, $text-size--medium, $text_line--small);
    letter-spacing: 1px;
}

h2 {
    @include text($text-size--small-medium, $text-size--medium-small, $text_line--small);
    letter-spacing: 2.71px;
}

h3 {
    @include text($text-size--x-small, $text-size--small, $text_line--medium);
    letter-spacing: 0.6px;
}

h4 {
    @include text($text-size--x-small, $text-size--x-small, $text_line--medium);
    letter-spacing: 0.4px;
}

p {
	  @include text($text-size--small-medium, $text-size--small, $text_line--medium);
    color: $black;
    padding-bottom: 10px;
    text-align: center;
    margin: 0;
}
