@import '../../assets/styles/styles.scss';

.Topnav {
  position: sticky;
  z-index: 9999;
  background-color: $white;
  top: 0;
  height: 80px;
  width: 100%;
  display: flex;
  box-shadow: 0 4px 2px -2px $grey-primary;

  &__box {
    margin: 0 auto;
    width: 85%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    h1 {
      padding-bottom: 0;
    }
  }
}
