@import '../../assets/styles/styles.scss';

.Sidenav {
  position: fixed;
  width: auto;
  height: 100%;
  left: 0px;
  top: 0;
  padding: 24px;
  background-color: $white;
  display: flex;
  flex-direction: column;

  &__top-img-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    width: 90px;
    height: 24px;
  }

  &__user {
    @include rounded-corners(50%);
  }

  &__nav-links-section {
    display: flex;
    flex-direction: column;
    text-align: left;
    padding-top: 50px;
    flex-grow: 1;
  }

  &__nav-bottom-links-section {
    display: flex;
    flex-direction: column;
    text-align: left;
  }
}
